div.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
div.display {
  font-family: 'monospace';
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  width: 75%;
  height: 50px;
  padding: 5px 5px 5px 5px;
  border: 2px solid teal;
  border-radius: 5px;
}
.display .prefix {
  align-content: left;
}
.display .content {
  align-items: right;
}